<ion-content [fullscreen]="true">

  <img src="assets/blur.png" />

  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <section id="header">

    <div class="box">
      <ion-label>
        <h1>Register</h1>
        <p>Create an account to continue!</p>
      </ion-label>
    </div>

  </section>

  <form [formGroup]="formGroup" (ngSubmit)="create()" class="ion-padding">

    <div class="formulario-input">
      <input type="text" placeholder="Name" formControlName="nome" maxlength="50" />
    </div>

    <div class="formulario-input">
      <input type="text" placeholder="Last Name" formControlName="sobrenome" maxlength="80" />
    </div>

    <div class="formulario-input">
      <input type="text" placeholder="E-mail" formControlName="email" maxlength="100" />
    </div>

    <div id="abrir-modal" class="formulario-input">
      <input type="text" placeholder="DD/MM/AAAA" formControlName="data" readonly />
    </div>

    <div class="formulario-input">
      <input type="text" placeholder="61 9-9999-9999" formControlName="telefone" mask="(00) 9-9999-9999" maxlength="20" />
    </div>

    <div class="formulario-input">
      <div>
        <input [type]="TYPE_INPUT" placeholder="* * * * * * * " formControlName="senha" maxlength="90"/>
        <ion-icon [name]="ICONE" (click)="showPassword()"></ion-icon>
      </div>
    </div>

    <div class="formulario-input">
      <ion-button type="submit" expand="block" fill="solid">
        Register
      </ion-button>
    </div>

  </form>

  <ion-modal trigger="abrir-modal" class="modal-datapicker">
    <ion-datetime
      *ngIf="true"
      doneText="Selecionar"
      cancelText="Cancelar"
      presentation="date"
      size="cover"
      [showDefaultButtons]="true"
      (ionChange)="getData($event.detail.value!)"
      ></ion-datetime>
  </ion-modal>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-label>
    Already have an account?
    <a>Log In</a>
  </ion-label>
</ion-footer>
