@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
// @import "@ionic/angular/css/palettes/dark.always.css";
// @import '@ionic/angular/css/palettes/dark.system.css';
@import "@ionic/angular/css/palettes/dark.class.css";
@import url("./theme/fonts.scss");

* {
  font-family: "Inter";
}

ion-button {
  text-transform: initial;
}

.modal-datapicker {
  --background: transparent;
  padding-top: 20vh;
  padding-left: 20px;
  padding-right: 20px;
  // &::part(content) {
  //   backdrop-filter: blur(6px);
  // }
  ion-datetime {
    border-radius: 14px;
  }
}
